.navbar {

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 80px;
}

.links {
    list-style: none;
    display: flex;
}

.links  li {
    margin-left: 40px;
    text-transform: uppercase;
}