.navbar {

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 80px;
}

.links {

    cursor: pointer;
    list-style: none;
    display: flex;
}

.links  li {
    margin-left: 40px;
    text-transform: uppercase;

}

.mobileNavToggle {
    display: none;
}

@media only screen and (max-width: 50em){

    
    
    .navWrapper {
        width: 60%;
        position: relative;

    }

    .mobileNavToggle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        background-color: white;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
    }

    .primaryNavigation {
        display: flex;
        width: 0%;
        isolation: isolate;
        position: absolute;
        z-index: 1;
        -webkit-transition: all 2s ease;  
        -moz-transition: all 2s ease;  
        -o-transition: all 2s ease;  
        -ms-transition: all 2s ease;  
        transition: all 2s ease;
        opacity: 0;
        
        .links {
            display: flex;
            flex-direction: column;
            background-color: var(--clr-primary-dark-blue);
            width: 100%;
            padding: 60px 0;

            li {
                padding: 15px 0;
                font-size: 1.75rem;
            }
            
            a {
                color: white;
            }
        }
        
    }
    .primaryNavigationShowing {
        width: 100%;
        opacity: 1;
        animation: slideMenuOpen 1s ease-in forwards;
    
    }
    
    .primaryNavigationHidden {
        display: none;

    }

    .primaryNavigationSlideClose {
        animation: slideMenuClose 1s ease-out forwards;
        pointer-events: none;
    }


    #topLine, #bottomLine, #midLine {
        background-color: rgb(41, 41, 41);
        width: 26px;
        height: 1px;
        border-radius: 15px;
        margin: 5px 0 5px 0;

    }

    .topLineAnimationClose {
        transform-origin: 13px 0px;
        animation: topLineRotateClose 0.3s ease-in-out forwards;


    }

    .midLineAnimationClose {
        animation: midLineHide 0.2s ease-out forwards;

    }


    .bottomLineAnimationClose {
        transform-origin: 13px 0px;
        animation: bottomLineRotateClose 0.3s ease-in-out both;  

    }

    .topLineAnimationOpen {
        transform-origin: 13px 0px;
        animation: topLineRotateOpen 0.3s ease-in-out both;


    }

    .midLineAnimationOpen {
        animation: midLineShow 0.2s both;
        animation-timing-function: cubic-bezier(1,-0.22,1,.62);


    }


    .bottomLineAnimationOpen {
        transform-origin: 13px 0px;
        animation: bottomLineRotateOpen 0.3s ease-in-out forwards;  

    }

    @keyframes topLineRotateClose {
        from{
            rotate: 0deg;
            translate: 0px 0px;
        }
        to{
            rotate: 45deg;
            translate: 0px 6px;
        }
    }

    @keyframes midLineHide {
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }

    @keyframes bottomLineRotateClose {
        from{
            rotate: 0deg;
            translate: 0px 0px;
        }
        to{
            rotate: -45deg;
            translate: 0px -6px;
        }
    }

    @keyframes topLineRotateOpen {
        from{
            rotate: 45deg;
            translate: 0px 6px;
        }
        to{
            rotate: 0deg;
            translate: 0px 0px;
        }
    }

    @keyframes midLineShow {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    @keyframes bottomLineRotateOpen {
        from{
            rotate: -45deg;
            translate: 0px -6px;
        }
        to{
            rotate: 0deg;
            translate: 0px 0px;
        }
    }

    @keyframes slideMenuOpen {
        from{
            clip-path: inset(0 0 0 0);
        }
        to{
            clip-path: inset(0 0 0 0);
        }
    }

    @keyframes slideMenuClose {
        from{
            clip-path: inset(0 0 0 0);

        }
        to{
            clip-path: inset(0 0 0 0);
        }
    }

}

